<div class="section">
  <app-header></app-header>

  <div class="rules">
    <h1 class="rule_header">Game Rules</h1>
    <p class="rule_1">As the describer, you have clues that you need to describe to your team mate, you need to help your team mate to identify the attraction,
      place or thing that is found in Durban the warmest place to be.</p>
  </div>
  <div class="rules">
    <h1 class="rule_header">AS A Describer YOU MAY</h1>
    <p class="rule_1">- Describe the names in any way order you wish, including singing, humming and gesticulating.</p>
  </div>
  <div class="rules">
    <h1 class="rule_header">As A Describer YOU MAY NOT</h1>
    <div class="rule_1">
      <p> - Say the actual name of the attraction, place or thing that is being described in the clues.</p>
      <p> - Ask for any help from the audience.</p>
      <p> - Use any 'sounds-like' or 'rhymes-with' tactics. </p>
      <p> - Say or refer to the letters of the alphabet, i.e say it begins with or say it has.</p>
      <p> - Use direct translations from one language to another.</p>
    </div>
  </div>
  <button class="button play" (click)="play()">Play</button>
</div>
